/*==================================================
ASHTAMI STORE
NAVBAR.CSS
==================================================*/


/*==================================
HEADER
==================================*/

header{

    width:100%;
    background:#000;
    position:sticky;
    top:0;
    left:0;
    z-index:9999;
    box-shadow:0 2px 15px rgba(0,0,0,.25);

}

/*==================================
NAVBAR
==================================*/

.navbar{

    display:flex;
    justify-content:space-between;
    align-items:center;
    min-height:85px;
    position:relative;

}


/*==================================
LOGO
==================================*/

.logo{

    font-family:'Cormorant Garamond',serif;
    font-size:40px;
    font-weight:700;
    color:#fff;
    white-space:nowrap;

}

.logo span{

    color:#D4AF37;

}

/*==================================
NAVIGATION
==================================*/

nav{

    margin-left:auto;

}

nav ul{

    display:flex;
    align-items:center;
    list-style:none;
    gap:34px;
    margin:0;
    padding:0;

}

nav ul li{

    position:relative;

}

nav ul li a{

   nav ul li a{

    display:flex;
    align-items:center;
    gap:8px;

    color:#fff;

    font-size:16px;

    font-weight:500;

    transition:.3s;

}
nav ul li a:hover{

    color:#D4AF37;

}


/*==================================
CART
==================================*/

.cart-icon{

    position:relative;

}

.cart-count{

    position:absolute;

    top:-8px;

    right:-10px;

    width:20px;

    height:20px;

    border-radius:50%;

    background:var(--accent);

    color:#fff;

    font-size:11px;

    display:flex;

    justify-content:center;

    align-items:center;

}


/*==================================
DESKTOP DROPDOWN
==================================*/

.dropdown-menu{

    position:absolute;

    top:120%;

    left:0;

    width:250px;

    background:#111;

.dropdown:hover .dropdown-menu{

    display:block;

}

.dropdown-menu li{

    width:100%;

}

.dropdown-menu li a{

    display:block;

    padding:14px 22px;

    color:#fff;

    transition:.3s;

}

.dropdown-menu li a:hover{

    background:#222;

    color:#D4AF37;

    padding-left:28px;

}

/*==================================
HAMBURGER
==================================*/

.menu-toggle{

    display:none;

    width:44px;
    height:44px;

    align-items:center;
    justify-content:center;

    font-size:28px;

    color:#fff;

    cursor:pointer;

    transition:.3s;

    z-index:10001;

}

.menu-toggle:hover{

    color:var(--primary);

}
